<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.demo.consumer.entity.User" alias="User" />
        <typeAlias type="com.example.demo.consumer.entity.PersonInformation" alias="PersonInformation" />

        <typeAlias type="java.lang.String" alias="String" />
        <typeAlias type="java.lang.Integer" alias="Integer" />
        <typeAlias type="java.lang.Long" alias="Long" />
        <typeAlias type="java.util.List" alias="List" />
    </typeAliases>
    <mappers>
        <package name="com.example.demo.consumer.dao.PersonInformationDao"/>
    </mappers>
</configuration>